Repository Ardakilic/rocklist: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-lint, go-test, frontend-lint

go-lint:
  name: Go Lint
  entry: make lint-go
  language: system
  pass_filenames: false

go-test:
  name: Go Test
  entry: make test-quick
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint
  entry: make lint-frontend
  language: system
  pass_filenames: false

feat: frontend tests
  .github/workflows/ci.yml
  .gitignore
  frontend/src/App.test.tsx
  frontend/src/components/AboutDialog.test.tsx
  frontend/src/components/FetchTab.test.tsx
  frontend/src/components/GenerateTab.test.tsx
  frontend/src/components/SettingsTab.test.tsx
  frontend/src/components/WelcomeDialog.test.tsx
  frontend/src/components/ui/button.test.tsx
  frontend/src/components/ui/checkbox.test.tsx
  frontend/src/components/ui/dialog.test.tsx
  frontend/src/components/ui/input.test.tsx
  frontend/src/components/ui/label.test.tsx
  frontend/src/components/ui/select.test.tsx
  frontend/src/components/ui/tabs.test.tsx
  frontend/src/components/ui/toaster.test.tsx
  frontend/src/lib/utils.test.ts
  frontend/src/test/setup.ts
  frontend/vite.config.ts
Due: frontend-lint

Chore: Improve error handling and test coverage across codebase
  .github/workflows/ci.yml
  cmd/cmd_test.go
  cmd/generate.go
  cmd/gui.go
  cmd/parse.go
  cmd/root.go
  cmd/version.go
  internal/api/client_test.go
  internal/api/lastfm.go
  internal/api/lastfm_test.go
  internal/api/musicbrainz.go
  internal/api/musicbrainz_test.go
  internal/api/spotify.go
  internal/api/spotify_test.go
  internal/database/database_test.go
  internal/models/errors_test.go
  internal/repository/config_repository_test.go
  internal/repository/playlist_repository_test.go
  internal/repository/song_repository_test.go
  internal/rockbox/parser_test.go
  internal/service/app_service_test.go
  internal/service/log_buffer_test.go
  internal/service/playlist_service.go
  internal/service/playlist_service_test.go
Due: go-lint, go-test

``` Chore: Fix linter warnings and improve error handling in tests
  cmd/cmd_test.go
  internal/api/client_test.go
  internal/api/musicbrainz_test.go
  internal/service/app_service_test.go
Due: go-lint, go-test

``` Chore: Improve CI/CD workflows with artifact cleanup and manual release support
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Chore: Update Linux build to use WebKit2GTK 4.1 with proper build tags
  .github/workflows/release.yml
Due: none

Chore: Add ARM64 support and update dependencies in CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  go.mod
  go.sum
Due: none

Chore: Fix Linux ARM64 build with proper cross-compilation setup
  .github/workflows/release.yml
Due: none

Chore: Simplify Linux ARM64 build by using native ARM64 runner
  .github/workflows/release.yml
Due: none

Chore: Enhance release workflow with permissions and target commitish
  .github/workflows/release.yml
Due: none

feat: Add Wails runtime and app command interfaces
  cmd/gui.go
  docker-compose.yml
  frontend/package.json.md5
  frontend/src/components/FetchTab.tsx
  frontend/vite.config.ts
  frontend/wailsjs/go/cmd/App.d.ts
  frontend/wailsjs/go/cmd/App.js
  frontend/wailsjs/runtime/package.json
  frontend/wailsjs/runtime/runtime.d.ts
  frontend/wailsjs/runtime/runtime.js
  go.mod
  go.sum
Due: go-lint, go-test, frontend-lint

chore: Add 'wailsjs' to ESLint ignore patterns
  frontend/.eslintrc.cjs
Due: frontend-lint

feat: update frontend dependencies and add Node.js engine requirement
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  go.mod
  internal/service/playlist_service_test.go
Due: go-lint, go-test, frontend-lint

Implement feature X to enhance user experience and optimize performance
  frontend/package-lock.json
Due: none

feat: add SelectDirectory method to App interface for directory selection
  frontend/src/App.tsx
Due: frontend-lint

chore: update golangci-lint action to version 9 in CI workflow
  .github/workflows/ci.yml
Due: none

refactor: improve error handling and code readability in various files
  cmd/cmd_test.go
  cmd/gui.go
  internal/api/lastfm.go
  internal/api/musicbrainz.go
  internal/api/spotify.go
  internal/database/database_test.go
  internal/rockbox/parser.go
  internal/rockbox/parser_test.go
  internal/service/app_service.go
  internal/service/app_service_test.go
  internal/service/playlist_service.go
Due: go-lint, go-test

refactor: update defer statements to handle potential errors in resource closing
  Dockerfile
  cmd/generate.go
  cmd/parse.go
  internal/api/spotify.go
  internal/database/database_test.go
  internal/repository/config_repository_test.go
  internal/repository/playlist_repository_test.go
  internal/repository/song_repository_test.go
  internal/service/app_service_test.go
  internal/service/playlist_service.go
Due: go-lint, go-test

refactor: update TagCache magic number and enhance tag file structure documentation
  docs/rockbox-database-format.md
  internal/rockbox/parser.go
  internal/rockbox/parser_test.go
Due: go-lint, go-test

feat: add UseAlbumArtist option for playlist generation with album artist matching
  cmd/gui.go
  frontend/src/App.tsx
  frontend/src/components/GenerateTab.test.tsx
  frontend/src/components/GenerateTab.tsx
  internal/models/playlist.go
  internal/models/playlist_test.go
  internal/service/playlist_service.go
  internal/service/playlist_service_test.go
Due: go-lint, go-test, frontend-lint

Path conditions:
  go-lint: any of: \.go$
  go-test: any of: \.go$
  frontend-lint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
